body {
	margin: 0; 
}	

#sister-sites small {
	display : block;
	color: #777777;
}

#sister-sites li {
	display: inline-block;
	margin-right: 1px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent; /* put invisible border that changes to blue below on hover so box stays same size on hover */
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;
}

#sister-sites ul {
	padding-left: 0;
	margin: 0 auto; /* 0 top and auto left & right to centre it */
	/*background-color: red;*/
	width: 960px;

}

#sister-sites a {
	text-decoration: none;
	color: #0297d2;
}

#sister-sites {
	background-color: #eeeeee;
	padding-top: 5px;
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -4px;
}

#active-site a{
	color: #777777;
}

li#active-site { /* added li to front to get more points to overide main setting above */
	background-color: white;
	padding: 4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	position: relative;
	top: 3px;
}

#sister-sites li:hover:not(#active-site) /* not is here so hover doesn't work on active site page */ {
	background: white;
	border: 1px solid #bde2f1;
	border-bottom: none;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small {
	color: #ff4700;
}

main {
	width: 960px;
	margin: 0 auto;

}

.product {
	background-color: #eeeeee;
	width: 19%;
	height: 200px;
	margin-bottom: 50px;
	float: left;
	margin-right: 11px;
	position: relative; /* made relative so absolute pos for discount works inside this div not whole page*/
	border: 1px solid #999999;
	box-sizing: border-box; /* keeps all content including border inside box size demension */
}

.product h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	/* below to make ... on too long txt */
	white-space: nowrap; /* stops txt wraparound to next line, makes it stay on one line */
	overflow: hidden; /* now hide overflow certed by nowrap */
	text-overflow: ellipsis; /* puts elipsis ... at the end of txt */
}

.product img {
	max-width: 100%;
}

.product:last-child {  /* remove margin far right div to get rid of space far right*/
	margin-right: 0;
}

.product div {
	padding: 10px;

}

.product p {
	font-weight: bold; /* make price bold */
	text-align: right;

}

.discount {
	background-color: #e34647;
	padding: 4px 8px;
	color: white;
	position: absolute; /* position discount tag top left - see below top and left also */
	top: 5px;
	left: -5px;

}
