body {
	margin: 0; 
}	

#sister-sites small {
	display : block;
	color: #777777;
}

#sister-sites li {
	display: inline-block;
	margin-right: 1px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent; /* put invisible border that changes to blue below on hover so box stays same size on hover */
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;
}

#sister-sites ul {
	padding-left: 0;
	margin: 0 auto; /* 0 top and auto left & right to centre it */
	/*background-color: red;*/
	width: 960px;

}

#sister-sites a {
	text-decoration: none;
	color: #0297d2;
}

#sister-sites {
	background-color: #eeeeee;
	padding-top: 5px;
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -4px;
}

#active-site a{
	color: #777777;
}

li#active-site { /* added li to front to get more points to overide main setting above */
	background-color: white;
	padding: 4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	position: relative;
	top: 3px;
}

#sister-sites li:hover:not(#active-site) /* not is here so hover doesn't work on active site page */ {
	background: white;
	border: 1px solid #bde2f1;
	border-bottom: none;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small {
	color: #ff4700;
}

main {
	width: 960px;
	margin: 0 auto;

}

.product {
	background-color: #eeeeee;
	width: 19%;
	height: 200px;
	margin-bottom: 50px;
	float: left;
	margin-right: 11px;
	position: relative; /* made relative so absolute pos for discount works inside this div not whole page*/
	border: 1px solid #999999;
	box-sizing: border-box; /* keeps all content including border inside box size demension */
}

.product h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	/* below to make ... on too long txt */
	white-space: nowrap; /* stops txt wraparound to next line, makes it stay on one line */
	overflow: hidden; /* now hide overflow certed by nowrap */
	text-overflow: ellipsis; /* puts elipsis ... at the end of txt */
}

.product img {
	max-width: 100%;
}

.product:last-child {  /* remove margin far right div to get rid of space far right*/
	margin-right: 0;
}

.product div {
	padding: 10px;

}

.product p {
	font-weight: bold; /* make price bold */
	text-align: right;

}

.discount {
	background-color: #e34647;
	padding: 4px 8px;
	color: white;
	position: absolute; /* position discount tag top left - see below top and left also */
	top: 5px;
	left: -5px;

}

body > footer { /* to mak sure we only select the main bottom footer */
	background-color: #333333;
	clear: both; /* to clear the floating divs so footer sits beneath them */
	color: #aaaaaa;
	padding: 20px 0;	
}  

#links {
	width: 65%;
	float: left;
	padding-left: 10px; /* to move left ul links only out from the left side */
}

#functions {
	width: 32%;
	float: right;
	height: 174px;
	padding: 16px 10px;
	text-align: center;
}

#links,
#functions {
	box-sizing: border-box; /* keep all padding etc within box size restriction ie 65% links or 32% functions */
	border: 1px solid #777777;
	border-radius: 3px;
}

#footer-container {
	width: 960px;
	margin: 0 auto ;

}

body > footer:after {  /* to stop the footer div collapsing due to only floating divs in the container */
	content: '';
	display: block;
	clear: both;
}

body > footer ul {
	width: 33.333%;
	float: left;
	padding-left: 0; /* get rid of default list padding */
	list-style: none; /* get rid of bullet points*/
}

#footer-container a {
	color: #aaaaaa;
	text-decoration: none; /* get rid of underlines */
	line-height: 28px;
}

#links a:hover {
	color: #888888;
	text-decoration: underline;
}

#functions hr { /* gradient line under Back to top */
	height: 2px;
	border: none;
	/* gradient below made and copied from gradient generator  at colorzilla.com */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,9e9e9e+51,333333+100 */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(left, #333333 0%, #9e9e9e 51%, #333333 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #333333 0%,#9e9e9e 51%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #333333 0%,#9e9e9e 51%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
}

#functions hr ~ a { /* hr ~ a means grab all anchors after hr */
	padding: 6px 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5); /* X Y Bluriness Color-RGB+Alpha-channel-transparency-000=black */
	border: 1px solid #111111;
}

#functions hr + a {  /* hr + a only grabs 1st a after hr*/
	box-shadow: inset 0 0 4px 2px rgba(0,0,0,.5); /* inset puts shadow on the inside intead of default outside of box*/
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,777777+100 */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #777777 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #333333 0%,#777777 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #333333 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
}

#functions hr + a + a{  /* hr + a + a only grabs a after first a after hr*/
	box-shadow: inset 0 0 4px 2px rgba(0,0,0,.5);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,333333+100 */
	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top,  #777777 0%, #333333 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #777777 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #777777 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

/* categories section */

#search { /* big grey background */
	background-color: #efefef;
	padding: 20px;
}

#categories { /* white background */
	background-color: white;
	width: 66.66%;
}

.container { /* set up container size and center */
	width: 960px;
	margin: 0 auto;
}

/* main categories part with colored tabs */

#main-categories { 
	padding-left: 0;
	list-style: none;
}

#main-categories li {
	display: inline-block;
	width: 156px;
	text-align: center;
	padding: 10px 0;

}

#main-categories li:nth-child(1) {
	background-color: #f19608;
}  

#main-categories li:nth-child(2) {
	background-color: #f06534;
} 

#main-categories li:nth-child(3) {
	background-color: #738297;
} 

#main-categories li:nth-child(4) {
	background-color: #72ae2d;
	width: 159px;
} 

#main-categories a {
	font-size: 24px;
	color: white;
	text-decoration: none;
}

#categories ul:not(#main-categories) { /* NO FUNCTION but this is an alternative to below*/

}

#main-categories ~ ul { /* means applies to only ul's after first ul */
	list-style: none;
	padding-left: 20px;
	background-color: orange;
	width: 33.3333%;
	float: left;
	box-sizing: border-box; /* to keep within main size of box ie padding won't change it */

} 

main {
	clear: both; /* to fix float problem, clear above floating elements so following stuff stays below */	
}

#search:after { /* STD WORKAROUND - inject after the content */
	content: ''; /* inject invisible block element one line - see below too*/
	display: block;
	clear: both; /* clear L & R floating elements above */
}
